@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic");
body { margin: 0; line-height: 1.6em; }

ul { list-style: none; padding: 0; margin: 0; }

figure { margin: 0; }

a img { border: none; }

hr { border-color: black; border-width: 1px; border-style: solid none none none; width: 6em; margin: 2em auto; }

.platform-sponsor { color: white; background-color: #d2232a; font-family: 'Open Sans', sans-serif; clear: both; padding: 0.6rem 1rem 0.6rem 3.5rem; position: absolute; width: 100%; z-index: 1; top: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background-image: url(../img/logos/canje.png); background-repeat: no-repeat; background-position: 1rem center; -moz-background-size: auto 3rem; -o-background-size: auto 3rem; -webkit-background-size: auto 3rem; background-size: auto 3rem; }
.platform-sponsor h1 { margin: 0; font-size: 1rem; line-height: 1.6em; }
.platform-sponsor h2 { font-size: 0.7rem; }
.platform-sponsor h3 { font-size: 0.6rem; text-transform: uppercase; }
.platform-sponsor h2, .platform-sponsor h3 { font-weight: normal; line-height: 1.6em; margin: 0; }

.platform-title { background: url(../img/logos/inbio.svg) no-repeat left top; -moz-background-size: contain; -o-background-size: contain; -webkit-background-size: contain; background-size: contain; height: 1.6rem; margin: 0.2rem 0; color: transparent; float: left; margin-left: 1rem; }

.platform-subtitle { display: none; }
@media only screen and (min-width: 40rem) { .platform-subtitle { display: block; position: fixed; top: 0; left: 0; width: 100%; text-align: center; color: white; font-family: 'Merriweather', serif; font-weight: 300; font-size: 0.9rem; cursor: pointer; z-index: -1; } }

.platform-social { display: inline-block; height: 100%; vertical-align: top; float: right; margin-right: 1rem; }
.platform-social li { display: inline-block; }
.platform-social li + li { margin-left: 0.4rem; }
.platform-social img { display: block; height: 1rem; margin: 0.6rem 0; }

.content { margin: 2.4rem 0 6rem 0; }

.article-header { margin-bottom: 4rem; position: relative; }

.article-title { font-size: 2rem; margin: 0; padding-top: 6rem; font-family: 'Merriweather', serif; font-weight: 300; line-height: 1.2em; }
.article-title .second-line { background-color: rgba(255, 255, 255, 0.7); line-height: 1.3em; }
.article-title .first-line { font-weight: bold; display: block; }
.article-title .second-line { font-size: 0.8em; }
@media only screen and (min-width: 40rem) { .article-title { font-size: 4rem; padding-top: 4rem; } }

.article-author { margin-top: 1rem; background-color: rgba(255, 255, 255, 0.6); display: inline-block; padding: 0.2em; font-size: 0.9rem; font-family: 'Open Sans', sans-serif; font-weight: 300; font-style: normal; text-transform: uppercase; }

.full-image { height: 100vh; width: 100%; background-repeat: no-repeat; -moz-background-size: cover; -o-background-size: cover; -webkit-background-size: cover; background-size: cover; }

.full-image-caption-group { margin: 0 2rem; max-width: 50rem; }

.full-image-caption { font-family: 'Open Sans', sans-serif; color: white; text-shadow: 0 1px 2px #000; position: absolute; bottom: 2rem; max-width: 30rem; margin-right: 2rem; }

.body-part { margin-bottom: 2.5rem; }

.body-part-scroller { text-align: center; white-space: nowrap; overflow-x: scroll; overflow-y: hidden; -webkit-overflow-scrolling: touch; }
.body-part-scroller > .article-figure { display: inline-block; margin-top: 0; margin-bottom: 0; }
.body-part-scroller > .article-figure + .article-figure { margin-left: 2em; }

.body-part-video { max-height: 80vh; width: 100%; overflow: hidden; background-color: black; }

.full-figure-video > video { width: 100%; display: block; margin: 0 auto; }

.body-part-text { max-width: 42rem; margin-right: auto; margin-left: auto; font-family: Georgia, serif; }
@media only screen and (min-width: 40rem) { .body-part-text { font-size: 1.1rem; padding-right: 8rem; } }
@media only screen and (min-width: 40rem) { .body-part-text p { text-align: justify; } }
.body-part-text p, .body-part-text h2 { padding: 0 1rem; }
@media only screen and (min-width: 40rem) { .body-part-text p, .body-part-text h2 { padding: 0 4rem; } }
.body-part-text h2 { font-family: 'Merriweather', serif; font-weight: 300; margin-top: 2em; margin-bottom: 0.5em; }

.drop-cap:first-letter { font-size: 6em; font-family: 'Open Sans', sans-serif; font-weight: 800; line-height: 0.9em; margin-right: 0.2em; float: left; }

.article-figure { margin: 2.5rem 0; display: block; }
.article-figure > img { display: block; margin: 0 auto; }
.article-figure > figcaption { font-family: 'Open Sans', sans-serif; font-weight: 400; color: #999; font-size: 0.8rem; padding: 0 2rem; margin-top: 1em; }
.article-figure .credit { text-transform: uppercase; font-style: normal; font-size: 0.6em; display: block; }

.article-figure-video > video { max-width: 100%; }

.article-figure-image > img { max-width: 100%; }

.article-figure-image.portrait { text-align: center; }
.article-figure-image.portrait > img { max-height: 25rem; }

@media only screen and (min-width: 40rem) { .article-figure > img, .article-figure > video { -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em; } }

.full-image-1 { background-image: url(../img/photos/forest-hill_filter.jpg); }

.video-1 { display: none; }

@media only screen and (min-width: 40rem) { .video-1 { display: block; position: fixed; right: 2rem; top: 4rem; width: 203px; height: 360px; }
  .video-1 > video { max-width: 100%; max-height: 100%; } }
